.training {
  padding: 70px 0;

  &__description {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 50px;
  }
  &__image{
    height: 100%;
  }
  &__info {
    min-height: 420px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__txt {
    color: #22191a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
  }

  &__number {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: center;
    color: #22191a;

    a {
      text-decoration: none;
      color: #ff1a2c;
    }
  }
}